<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.hassannaqvi.cbt_child_recruitment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SectionAActivity" />
        <activity android:name=".activities.SectionBActivity" />
        <activity android:name=".activities.SectionFActivity" />
        <activity android:name=".activities.SectionGActivity" />
        <activity android:name=".activities.SectionHActivity" />
        <activity android:name=".activities.SectionKActivity" />
        <activity android:name=".activities.SectionLActivity" />
        <activity
            android:name=".activities.SectionMActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".activities.EndingActivity"></activity>
    </application>

</manifest>